body {
    font-family: Arial, sans-serif;
}

.menu {
    display: flex;
    align-items: center;
    padding: 10px 0;
}

.menu li {
    list-style: none;
    margin: 0 10px;
}

.menu a {
    text-decoration: none;
    color: #333;
}

.menu a:hover {
    color: #f00;
}

table {
    border-collapse: collapse;
    width: 100%;
}

table td, table th {
    border: 1px solid #ddd;
    padding: 8px;
}

form.etudiant {
    margin: 20px 0;
}

form.etudiant div{
    margin: 10px 0;
}

form.etudiant div.checkbox{
    margin: 20px 0;
}

form.etudiant label {
    display: block;
    width: 100px;
}

form.etudiant input[type="text"],
form.etudiant input[type="email"],
form.etudiant input[type="tel"],{
    width: 200px;
    padding: 5px;
}

form.etudiant input[type="submit"] {
    padding: 5px 10px;
    background-color: #f00;
    color: #fff;
    border: none;
    cursor: pointer;
    border-radius: 5px;
}

a.bouton {
    padding: 5px 10px;
    background-color: #f00;
    color: #fff;
    text-decoration: none;
    border-radius: 5px;
}

a.bouton.bleu{
    background-color: blue;
}
a.bouton.rouge{
    background-color: red;
}  
a.bouton.vert{
    background-color: green;
}